<div class="masthead"> 
    <div class="language-nav">
        <ul>
            <a href="">CSS</a>
            <a href="">HTML </a>
            <a href="">Javascript </a>
            <a href="">Ruby</a>
        </ul>
    </div>
    <img src="assets/AA_Times_Logo.png" alt="" class="logo">
        <div class="masthead-links">
            <li> 
                Tuesday, October 18, 2016
            </li>
            <li>      
                <button>Today’s Paper</button>
            </li>
            <li> 
                <button>Video</button>
            </li>
            <li> 
                <button>77°F</button>
            </li>
            <li> 
                <button>AAO +100%</button>
            </li>
        </div>
</div>

